/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS---------------------------------- */

/* Global----------------------------- */

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.link {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px; */
}

/* Typography --------------------------*/

/* Header */

.header-main {
  background-color: #fff;
}

.social-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 36px;
}

.social-icon {
  font-size: 14px;
  color: #444;
}

.logo-text {
  color: #ea523e;
  font-weight: 700;
  font-size: 32px;
  text-transform: uppercase;
}

.nav-link {
  font-size: 14px;
  text-transform: uppercase;
}

/* Hero */

.hero {
  background: url(../media/banner.jpg);
  /* background-repeat: no-repeat; */
  /* background-position: center; */
  background-size: cover;
  color: #fff;
}

.page-title {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 8px;
}

.page-subtitle {
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
}

.cta-primary {
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #ea513e;
  padding: 12px 30px;
  border-radius: 4px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #7f7f7f;
}

.dot-active {
  background-color: #191919;
}

/* Services */

.section-title {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
  color: #444444;
  text-decoration: underline;
  text-decoration-color: #bcbcbc;
  text-align: center;
}

.section-subtitle {
  font-size: 12px;
  text-transform: uppercase;
  color: #616161;
  text-align: center;
}

.services-container {
  background-color: #5cbd9d;
}

.service {
  font-size: 32px;
  color: #fff;
}

.services-orange {
  background-color: #e67f31;
}

.services-blue {
  background-color: #3998db;
}

.services-green {
  background-color: #68cd73;
}

/* Team and Skills */
.member-img {
  /* width: 120px; */
  max-width: 100%;
  display: block;
  border-radius: 100%;
}

.team-member {
  display: flex;
  /* display: inline; */
  /* border-radius: 100%; */
  /* border: 2px solid red; */
}

.subsection-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #727272;
  font-style: italic;
  font-weight: 600;
}

.subsection-subtitle {
  font-size: 14px;
  font-style: italic;
  color: #727272;
}

.text {
  color: #808080;
  font-size: 14px;
  line-height: 2;
}

.skill {
  background-color: #e7e7e7;
  height: 36px;
}

.skill-text {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}

.progress {
  width: 90%;
  background-color: #ea513e;
  height: 100%;
}

.progress-80 {
  width: 80%;
}

.progress-70 {
  width: 70%;
}

.link-email {
  color: #ea513e;
}

.hidden-label {
  display: none;
}

.leadform-input {
  border: 1px solid #e2e2e2;
}

.leadform-input::placeholder {
  color: #9b9b9b;
  font-size: 12px;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
}

.leadform-btn {
  border: none;
  font-size: 12px;
}

.footer-smalltext {
  font-size: 10px;
  color: #9b9b9b;
}

/* Layout--------------------------------- */

/* General */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.align-start {
  align-items: flex-start;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.gap-20 {
  gap: 20px;
}

.gap-12 {
  gap: 12px;
}

.gap-24 {
  gap: 24px;
}

.mt-54 {
  margin-top: 54px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.section {
  padding: 80px 0 40px;
}

/* Header */

.header-social {
  padding: 24px 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.nav {
  align-self: stretch;
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.nav-links {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 36px;
}

.nav-item {
  display: flex;
  align-items: center;
  border-top: 2px solid rgba(255, 255, 255, 0);
}

.nav-link-current {
  border-top: 2px solid #ea523e;
}

.nav-item:last-child {
  margin-right: 12px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

/* hero */
.hero {
  height: 800px;
  /* padding: 300px 0; */
  display: flex;
}

/* dots */
.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

/* services */
.services-container {
  width: 250px;
  height: 250px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin-top: 36px;
  gap: 24px;
}

.services-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px;
  gap: 20px;
}

.portfolio-item {
  /* width: 200px; */
  flex: 1 1 250px;
}

.portfolio-item-img {
  max-width: 100%;
  display: block;
}

/* team */
.team-list {
  margin-top: 48px;
  display: flex;
  gap: 24px;
}

.skills-text {
  flex: 0 1 70%;
}

.skills-pb {
  flex: 0 1 30%;
  margin-left: 24px;
}

.progress {
  display: flex;
  align-items: center;
  padding: 10px;
}

.skill {
  margin-bottom: 8px;
}

/* Contact */
/* width="600"
height="450" */
.embed-gmap {
  width: 100%;
}

.text {
  margin-bottom: 24px;
}

.text:last-child {
  margin-bottom: 0;
}

.contact-text {
  flex: 0 1 60%;
  margin-right: 24px;
}

.contact-form {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.leadform-input {
  margin-bottom: 12px;
}

.leadform-input,
.leadform-btn {
  width: 100%;
  padding: 8px;
}

textarea.leadform-input {
  height: 150px;
}

/* Footer */

.footer {
  margin-top: 80px;
  margin-bottom: 20px;
}

/* ------------------------------------------ */
/* Gallery */
/* ------------------------------------------ */

/* Typography ---------------------------- */
.header-side {
  background-color: #ea513e;
  color: #fff;
}

.header-side .logo-text {
  color: #fff;
}

.link-smallbtn {
  font-size: 12px;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px;
  border-radius: 4px;
}

.header-text-title {
  font-size: 20px;
  font-weight: 700;
}

.header-text {
  color: #000;
  font-size: 12px;
}

.link-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  border: 1px solid #fff;
  border-radius: 100%;
}

.socials-icon {
  color: #fff;
  font-size: 12px;
}

.gallery .title {
  font-size: 36px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

/* Layout ------------------------------ */

/* General */

/* header */
.header-side {
  position: fixed;
  /* height: 100vh; */
  width: 25%;
  left: 0;
  top: 0;
  bottom: 0;

  padding: 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-side-title .logo {
  gap: 12px;
}

.header-side-text {
  margin-top: auto;
  margin-bottom: 48px;
}

.header-text-title {
  margin-bottom: 16px;
}

.socials-list {
  display: flex;
  gap: 24px;
}

/* Gallery */
.gallery {
  width: 75%;
  margin-left: 25%;
}

.gallery-header {
  margin-bottom: 48px;
}

.gallery-image {
  max-width: 100%;
  display: block;
}

.gallery-images {
  display: flex;
  justify-content: space-evenly;
}

.gallery-images-list {
  flex: 0 1 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 48px;
}

.gallery-images-listitem {
  /* align-self: stretch; */
}

.gallery-image {
  /* width: 100px; */

  border: 1px solid #000;
  border-radius: 2px;
}
